<h1>Listing tasks</h1>

<table>
	<tr>
		<th>Category</th>
		<th>Title</th>
		<th>Status</th>
		<th>Owner</th>
		<th>Start Date</th>
		<th>Finish Date</th>
		<th>Est. Finish Date</th>
	</tr>

<% @tasks.each do |task| %>
	<tr>
		<td> <%= task.category != nil ? task.category.name : 'N/A' %> </td>
		<td> <%=h task.title %> </td>
		<td> <%=h task.status.name %> </td>
		<td> <%=h task.owner ? task.owner.name : '-' %> </td>
		<td> <%=h task.start_date %> </td>
		<td> <%=h task.finish_date %> </td>
		<td> <%=h task.estimated_finish_date %> </td>
  </tr>
<% end %>
</table>

<br />

