<h2>Task: <%=h @task.title %></h1>

<h3>Description</h3>

<pre>
<%=h @task.description %>
</pre>

<h3>Details</h3>

<table>
	<tr>
		<th>Category</td>
		<td><%= @task.category != nil ? (link_to @task.category.name, @task.category) : 'N/A' %></td>
	</tr>
	<tr>
		<th>Project</td>
		<td><%= @task.project != nil ? (link_to @task.project.name, @task.project) : @task.project_name %></td>
	</tr>
	<tr>
		<th>Status</td>
		<td><%= @task.status.name %></td>
	</tr>
	<tr>
		<th>Owner</td>
		<td><%= @task.owner ? @task.owner.name : '-' %></td>
	</tr>
	<tr>
		<th>Organization</td>
		<td><%= @task.organization ? @task.organization.name : '-' %></td>
	</tr>
	<tr>
		<th>Start Date</td>
		<td><%=h @task.start_date%></td>
	</tr>
	<tr>
		<th>Finish Date</td>
		<td><%=h @task.finish_date%></td>
	</tr>
	<tr>
		<th>Est. Start Date</td>
		<td><%=h @task.estimated_start_date%></td>
	</tr>
	<tr>
		<th>Est. Finish Date</td>
		<td><%=h @task.estimated_finish_date %></td>
	</tr>
	<tr>
		<th>Duration</td>
		<td><%=h @task.duration%></td>
	</tr>
	<tr>
		<th>Est. Duration</td>
		<td><%=h @task.estimated_duration%></td>
	</tr>
</table>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
