<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<p>
  <b>Start date:</b>
  <%=h @project.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @project.end_date %>
</p>

<p>
  <b>Estimated start date:</b>
  <%=h @project.estimated_start_date %>
</p>

<p>
  <b>Estimated finish date:</b>
  <%=h @project.estimated_finish_date %>
</p>

<p>
  <b>Creation date:</b>
  <%=h @project.creation_date %>
</p>

<h3>Tasks</h3>

<table>
	<tr>
		<th>Title</th>
		<th>Owner</th>
		<th>Start Date</th>
		<th>Finish Date</th>
		<th>Est. Start Date</th>
		<th>Est. Finish Date</th>
		<th>Duration</th>
		<th>Est. Duration</th>
	</tr>

	<% for task in @project.tasks %>
		<tr>
			<td><%= link_to task.title, task %></td>
			<td><%=h task.owner ? task.owner.name : '-' %></td>
			<td><%=h task.start_date %></td>
			<td><%=h task.finish_date %></td>
			<td><%=h task.estimated_start_date %></td>
			<td><%=h task.estimated_finish_date %></td>
			<td><%=h task.duration%></td>
			<td><%=h task.estimated_duration %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
