<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<p>
  <b>Start date:</b>
  <%=h @project.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @project.end_date %>
</p>

<p>
  <b>Estimated start date:</b>
  <%=h @project.estimated_start_date %>
</p>

<p>
  <b>Estimated finish date:</b>
  <%=h @project.estimated_finish_date %>
</p>

<p>
  <b>Creation date:</b>
  <%=h @project.creation_date %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>