<p><span style="font-weight: bold; font-size: 20px">Taskflakes</span>
<br />
<%= link_to "Dashboard", root_path %> |
<%= link_to "Categories", categories_url %> |
<%= link_to "Projects", projects_url %> |
<%= link_to "Tasks", tasks_url %> |
<%= link_to "Statuses", statuses_url %> |
<%= link_to "Users", users_url %> |
<%= link_to "Organizations", organizations_url %> 
<% if current_user %>
| Logged in as <%=h current_user.name %> (<%=h current_user.login %>)
| <%= link_to "Logout", logout_path %>
<% end %>
</p>
<hr />
